.ASO{
    background-color: aqua;
}
.BBDD{
    background-color: yellow;
}
.HLLD{
    background-color: gainsboro;
}
.marques{
    background-color: orange;
}
.tutoria{
    background-color: grey;
}
.fm{
    background-color: bisque;
}
.iso{
    background-color: blue;
}
.SX{
    background-color: chocolate;
}